@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
}

.container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 249, 208);

}
.contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(160, 222, 255);
    backdrop-filter: blur(2px);
    width: 400px;
    height: 450px;
    border-radius: 20px;
    
}
.contact-title h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
    color: rgb(19, 93, 102);

}
.contact-title hr{
    width: 100px;
    height: 6px;
    border: none;
    border-radius: 50px;
    background-color:rgb(242, 123, 189);
}

.box {
    width: 340px;
    height: 45px;
    border-radius: 50px;
    border-width: 0px;
    font-family: "Open Sans", sans-serif; 
    padding-left: 15px;
    font-size: 15px;
}

.message {
    width: 340px;
    height: 140px;
    border-radius: 20px;
    border-width: 0px;
    font-family: "Open Sans", sans-serif;
    padding-left: 12px;
    padding-bottom: 90px;
    font-size: 15px;
}
.submit-form {
    width:120px;
    height: 50px;
    border-radius: 50px;
    background: rgb(178,179,119);
    background: linear-gradient(20deg, rgba(178,179,119,1) 0%, rgba(229,228,131,1) 58%, rgba(241,245,168,1) 100%);
    color: black;
    border-width: 0px;
    font-size: 18px;
}
.submit-form:hover {
    background: rgb(229, 228, 131);
    cursor: pointer;
}
.box:hover {
    border-width: 4px;
    border-color: rgb(173, 136, 198);

  
}
.message:hover {
    border-width: 4px;
    border-color: rgb(173, 136, 198);
}
